$colorTextPreHeader: #0f1a34;
$colorBgPreHeader: #cbdcff;
$colorWhite: #fff;
$colotTextGray: #2d3132;
$colorGray: #eff1f1;
$colorRed: #ff5449;
$colorBorder: #e0e3e3;
$colorLightGray: #747778;
$colorGrayMedium: #5c5f60;
$colorHeaderAccordion: #444748;
$colorRangeLight: #c4c7c7;
$colorGreen: #b4fff0;
$colorCardTop: #00382f;
